.menu {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
    padding-bottom: 2.4rem;
    
    
}
.menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    padding: 1.2rem;
    background-color: var(--primary); 
    color: var(--text-over-primary);
    border-radius: 0.8rem; 
    
    
}

.menuLink:hover {
    filter: brightness(80%);
    transition: 0.1s;
}
.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
   
   
}
/*
 background-color: var(--primary); 
    border-radius: 0.2rem;  
    gap: 0.6rem;
    color: var(--text-over-primary);
    */