.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
    padding-bottom: 2.4rem;
    
}
.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary)
    
}

.logoLink:hover {
    filter: brightness(80%);
    transition: 0.1s;
}
.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
    
}