.cycles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

.cycleDots {
    display: flex;
    gap: 1rem;
}

.cycleDot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
    
}
.workTime {
    background: var(--warning);
}

.longBreakTime {
    background: var(--info);
}