.footer {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
}

.footer a {
    font-weight: 1.2rem;
    text-decoration: none;
    color: var(--text-muter);
}

.footer a:hover {

    font-weight: 1.2rem;
    text-decoration: underline;
    color: var(--text-muter);
}