.button {
    background-color: var(--primary);
    border-radius: 1rem;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--text-over-primary);
    outline: none;
    border: none;
    min-width: 20rem;
    min-height: 4.5rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.button svg {
    width: 2.4rem;
    height: 2.4rem;
}

.button:hover {
    filter: brightness(90%);
}

.red {
    color: var(--text-over-error);
    background: var(--error);
}

.green {
    color: var(--text-over-primary);
    background-color: var(--primary);
}